@media print {
	body {
		font-size: 12pt;
		margin: 0;
		padding: 0;
		color: #000;
	}
    .expense-image {
        width: 280px;
        height: 90px !important;
    }
	.wlsm-print-expense-container {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	  }
	.wlsm-font-bold {
		font-weight: 600;
	}
	.text-secondary {
		color: #6c757d !important;
	}
	.text-dark {
		color: #343a40 !important;
	}
	.table-responsive {
		display: table;
		overflow: unset;
	}
	.wlsm-expense-heading {
		font-size: 18pt;
	}
	.wlsm-expense-sub-heading {
		font-size: 16pt;
	}
	@page {
		size: A4 portrait;
	}
	@media print {
		div.page-break {
		  page-break-after: always;
		}
	  }
}

	.btn.btn-white, .btn.btn-white.disabled, .btn.btn-white.disabled:focus, .btn.btn-white.disabled:hover, .btn.btn-white[disabled], .btn.btn-white[disabled]:focus, .btn.btn-white[disabled]:hover {
        color: #2d353c;
        background: #fff;
        border-color: #d9dfe3;
	}
